
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #4a3285;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #4a3285;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
  border: 3px solid #4a3285;
}